.page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signin-box {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 400px;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 5px;
}

.signin-box > * {
    margin-bottom: 20px!important;
}

.signin-box2 {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
    padding: 15px;
    /* border: 1px solid gray; */
    border-radius: 5px;
}

.signin-box2 > * {
    margin-bottom: 15px!important;
}

.box-header {
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
}

.alt-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.log-sign-error {
    text-align: center;
    color: #f00;
}